.plane-loader {
    left: 52%;
    top: 76%;
    transform: translateX(-50%) rotate(310deg);
    /* animation: plane-animait 10s alternate linear infinite; */
    animation: plane-animait 5s alternate linear 1 forwards;
}

@keyframes plane-animait {
    0% {
        top: 76%;
        transform: translateX(-50%) rotate(310deg);
    }

    5% {
        top: 66%;
        left: 51%;
        transform: translateX(-50%) rotate(300deg);
    }

    10% {
        top: 56%;
        left: 49%;
        transform: translateX(-50%) rotate(320deg);
    }

    15% {
        top: 51%;
        left: 49%;
        transform: translateX(-50%) rotate(330deg);
    }

    20% {
        top: 46%;
        left: 49%;
        transform: translateX(-50%) rotate(350deg);
    }

    25% {
        top: 41%;
        left: 49%;
        transform: translateX(-50%) rotate(370deg);
    }

    30% {
        top: 36%;
        left: 51%;
        transform: translateX(-50%) rotate(370deg);
    }

    35% {
        top: 31%;
        left: 52%;
        transform: translateX(-50%) rotate(365deg);
    }

    40% {
        top: 26%;
        left: 55%;
        transform: translateX(-50%) rotate(325deg);
    }

    45% {
        top: 21%;
        left: 55%;
        transform: translateX(-50%) rotate(315deg);
    }

    55% {
        top: 5%;
        left: 53%;
        transform: translateX(-50%) rotate(290deg);
    }

    70% {
        top: 2%;
        left: 53%;
        transform: translateX(-50%) rotate(250deg);
    }

    100% {
        top: 0%;
        left: 50%;
        transform: translateX(-50%) rotate(245deg);
    }
}